{% extends 'main/layout.html' %}

{% block title %}Новости сайта{% endblock %}

{% block content %}
    <div class="features">
        <h1>Новости</h1>
        {% if news %}
            {% for el in news %}
                <div class="alert alert-warning">
                    <h3>{{ el.title }}</h3>
                    <p>{{ el.announce }}</p>
                </div>
            {% endfor %}
        {% else %}
            <p>Записей нет, иди нахуй</p>
        {% endif %}
    </div>
{% endblock %}